body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(77, 118, 255);
}

h2 {
    color: rgb(255, 255, 255);
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

.imagem-perfil img {
    width: 180px;
    display: inline-block;
    background-color: #aaa;
    height: 180px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    margin-right: 10px;
    border: 4px solid rgb(255, 213, 96);
}

h1 {
    max-width: 480px;
    text-align: center;
    margin: 60ox auto;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
}

h1::after {
    content: '|';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s infinite;
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

* {
    box-sizing: border-box;
}

.footer-img {
    background-color: rgb(77, 118, 255);
    color: #FFF;
    width: 100%;
    display: flex;
}

.figure {
    vertical-align: middle;
    width: calc(100% / 4);
}

.figure:hover {
    background-color: #7ccfff;
    cursor: pointer;
}

.figure a {
    text-decoration: none;
    color: #FFF !important;
}

.figure img {
    display: inline !important;
    width: 25px;
}

.figure figcaption {
    display: inline !important;
    vertical-align: super !important;
}